In [5]:
import pandas as pd
df = pd.read_csv('downloads/adult.data.csv')

In [6]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [8]:
df.size

488415

In [116]:
# How many of each race are represented in this dataset? 
# This should be a Pandas series with race names as the index labels.
race_coun = df['race'].value_counts()
race_coun

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [51]:
# What is the average age of men?
men =df[df['sex'] == 'Male']
average_age_men = men['age'].mean() 
average_age_men

38.58164675532078

In [56]:
# Another way using filter()
average_age_men = df[df['sex'].str.lower() == 'male']['age'].mean()
average_age_men

38.58164675532078

In [58]:
# One more using groupby()
average_age_men = df.groupby('sex')['age'].mean()['Male']
average_age_men

38.58164675532078

In [125]:
# What is the percentage of people who have a Bachelor's degree?
amount_bachelors = int(
    (df['education'] == 'Bachelors')
    .sum())
amount_total = len(df)
percentage_bachelors = round(amount_bachelors * 100 / amount_total, 1)

In [126]:
percentage_bachelors

16.4

In [115]:
#What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
higher_education = (
    (
        (df['education'] == 'Bachelors') | 
        (df['education'] == 'Masters') | 
        (df['education'] == 'Doctorate')
    ) & 
    (df['salary'] == '>50K')
).sum()
amount_total = len(df)
higher_education_rich = higher_education * 100 / amount_total
higher_education_rich

10.70605939621019

In [127]:
# What percentage of people without advanced education make more than 50K?
lower_education = (
    (
        (df['education'] != 'Bachelors') & 
        (df['education'] != 'Masters') & 
        (df['education'] != 'Doctorate')
    ) & 
    (df['salary'] == '>50K')
).sum()
amount_total = len(df)
lower_education_rich = lower_education * 100 / amount_total
lower_education_rich

13.374896348392248

In [119]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

In [122]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = (
    (df['hours-per-week'] == min_work_hours) & 
    (df['salary'] == '>50K')
).sum()
rich_percentage = (num_min_workers * 100.0) / len(df)
rich_percentage

0.0061423174963913885

In [148]:
# What country has the highest percentage of people that earn >50K?
highest_earning_country = ((
    df[df['salary'] == '>50K'].groupby('native-country')
    ).size() / df.groupby('native-country').size()).idxmax()
highest_earning_country_percentage

'a'

In [156]:
highest_earning_country = (((
    df[df['salary'] == '>50K'].groupby('native-country')
    ).size() / df.groupby('native-country').size()) * 100).idxmax()
highest_earning_country_percentage = (((
    df[df['salary'] == '>50K'].groupby('native-country')
    ).size() / df.groupby('native-country').size()) * 100).max()
print(highest_earning_country)
print(highest_earning_country_percentage)

Iran
41.86046511627907

In [157]:
# Identify the most popular occupation for those who earn >50K in India.
indian_high_earners = df[(df['salary'] == '>50K') & (df['native-country'] == 'India')]
occupation_counts = indian_high_earners['occupation'].value_counts()
top_IN_occupation = occupation_counts.idxmax()
top_IN_occupation

'Prof-specialty'

In [158]:
if True:
        print("Number of each race:\n", race_count) 
        print("Average age of men:", average_age_men)
        print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
        print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
        print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
        print(f"Min work time: {min_work_hours} hours/week")
        print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
        print("Country with highest percentage of rich:", highest_earning_country)
        print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
        print("Top occupations in India:", top_IN_occupation)

Number of each race:
 White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64
Average age of men: 38.58164675532078
Percentage with Bachelors degrees: 16.4%
Percentage with higher education that earn >50K: 10.70605939621019%
Percentage without higher education that earn >50K: 13.374896348392248%
Min work time: 1 hours/week
Percentage of rich among those who work fewest hours: 0.0061423174963913885%
Country with highest percentage of rich: Iran
Highest percentage of rich people in country: 41.86046511627907%
Top occupations in India: Prof-specialty